<mat-card>
  <form [formGroup]="doctorSignupForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="signup-full-width">
      <input matInput placeholder="Name" formControlName="firstName" />
    </mat-form-field>
    <mat-form-field class="signup-full-width">
      <input matInput placeholder="Lastname" formControlName="lastName" />
    </mat-form-field>
    <mat-form-field class="signup-full-width">
      <input matInput placeholder="Age" formControlName="age" />
    </mat-form-field>
    <mat-form-field class="signup-full-width">
      <input
        matInput
        placeholder="Specialization"
        formControlName="specialization"
      />
    </mat-form-field>
    <mat-form-field class="signup-full-width">
      <input
        matInput
        placeholder="Company name"
        formControlName="companyName"
      />
    </mat-form-field>
    <mat-form-field class="signup-full-width">
      <input
        matInput
        placeholder="Company address"
        formControlName="companyAddress"
      />
    </mat-form-field>

    <mat-card formGroupName="working_hours" class="small-card">
      <h4>Working hours</h4>
      <mat-form-field>
        <input matInput placeholder="From" formControlName="from" type="time" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="To" formControlName="to" type="time" />
      </mat-form-field>
    </mat-card>
    <agm-map
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      (mapClick)="selectLocation($event)"
      style="width:auto; height: 300px;"
    >
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
    <div
      style="display: flex;
    justify-content: space-between; margin: 20px;"
    >
      <button mat-raised-button color="primary" type="submit">Save</button>
      <button
        mat-raised-button
        color="warn"
        type="button"
        (click)="resetForm()"
      >
        Delete
      </button>
    </div>
  </form>
</mat-card>
