<mat-card>
  <form [formGroup]="doctorSignupForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="signup-full-width">
      <input matInput placeholder="Ime" formControlName="firstName" />
    </mat-form-field>
    <mat-form-field class="signup-full-width">
      <input matInput placeholder="Prezime" formControlName="lastName" />
    </mat-form-field>
    <mat-form-field class="signup-full-width">
      <input matInput placeholder="Godine" formControlName="age" />
    </mat-form-field>
    <mat-form-field class="signup-full-width">
      <input
        matInput
        placeholder="Specijalizacija"
        formControlName="specialization"
      />
    </mat-form-field>
    <mat-form-field class="signup-full-width">
      <input matInput placeholder="Ime bolnice" formControlName="companyName" />
    </mat-form-field>
    <mat-form-field class="signup-full-width">
      <input
        matInput
        placeholder="Adresa bolnice"
        formControlName="companyAddress"
      />
    </mat-form-field>

    <mat-card formGroupName="working_hours" class="small-card">
      <h4>Radno vrijeme</h4>
      <mat-form-field>
        <input matInput placeholder="Od" formControlName="from" type="time" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Do" formControlName="to" type="time" />
      </mat-form-field>
    </mat-card>
    <agm-map
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      (mapClick)="selectLocation($event)"
      style="width:100%; height: 300px;"
    >
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
    <button mat-raised-button color="primary" type="submit">Spremi</button>
    <button mat-raised-button color="warn" type="button" (click)="resetForm()">
      Obriši
    </button>
  </form>
</mat-card>
