.data-box {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  box-shadow: 3px 3px 5px 6px #ccc;
  justify-content: space-between;
  padding: 15px;
}

app-history-user {
  display: flex;
  justify-content: center;
  align-items: center;
}
