.background {
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-image: url("../assets/images/background.png");
}
.header-a {
  background: #020079;
  opacity: 0.3;
  position: absolute;
  top: 0;
}
.logo {
  display: flex;
  justify-content: space-between;
  width: 9%;
  align-items: center;
}
.btn {
  display: flex;
  justify-content: space-between;
  width: 18%;
}
.header {
  background: transparent;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
}
.header-content img {
  height: 50px;
}
.slider {
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;

  background-size: cover;
}
.a {
  background-image: url("../assets/images/a.jpg");
}
.b {
  background-image: url("../assets/images/b.jpg");
}
.c {
  background-image: url("../assets/images/c.jpg");
}
.d {
  background-image: url("../assets/images/d.jpg");
}
.e {
  background-image: url("../assets/images/dental.jpg");
}
.title {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 42px;
  color: #05014a;
}

:host >>> .mat-toolbar-multiple-rows {
  position: relative;
}
.djelatnosti {
  display: flex;
  height: 80px;
  widows: 60px;
}
.djelatnosti img {
  height: 30px;
}

.about h2 {
  font-size: 90px;
  color: #42b3e5;
  margin-top: 50px;
}
.about h4 {
  font-size: 24px;
  color: #737373;
  margin-bottom: 45px;
}
.about-img img {
  width: 100%;
}
.single-about-detail {
  position: relative;
}
.pentagon-text h1 {
  font-size: 60px;
  color: #383838;
  margin-top: 0;
  transition: all 0.7s ease 0s;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  -ms-transition: all 0.7s ease 0s;
  position: absolute;
  left: 15%;
  width: 50px;
  top: -6%;
}
.pentagon-text {
  width: 70px;
  height: 52px;
  background: #fff;
  position: relative;
  top: -30px;
  left: 43%;
}
.pentagon-text:before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 34px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 15px solid #fff;
}
.pentagon-text:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 0;
  height: 0px;
  border-left: 36px solid transparent;
  border-right: 34px solid transparent;
  border-top: 15px solid #fff;
}
.about-details {
  background: #2a2a2a;
  border-top: 2px solid #fff;
  transition: all 0.7s ease 0s;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  -ms-transition: all 0.7s ease 0s;
}
.about-details h3 {
  font-size: 36px;
  color: #fff;
  margin-top: 0;
}
.about-details p {
  font-size: 13px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  padding: 0 25px;
  padding-bottom: 30px;
}
.single-about-detail:hover .about-details {
  background: #3a9dca;
}
.single-about-detail:hover .pentagon-text h1 {
  color: #3a9dca;
}
.box {
  width: 30%;
}
.row {
  margin: 0 15px;
}
.des {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service {
  background: url(../assets/images/pattern.jpg);
  background-repeat: repeat-y;
  margin-top: 40px;
  background-size: cover;
}
.podrska {
  color: #42b3e5;
  margin: 112px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.podrska h2 {
  font-size: 90px;
}

.service h2 {
  font-size: 90px;
  color: #fff;
  margin-top: 70px;
  margin-bottom: 60px;
}
.service h4 {
  font-size: 24px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 70px;
  display: block;
}
.single-service-img {
  width: 205px;
  height: 125px;
  background: #fff;
  position: relative;
  left: 50%;
  margin-left: -100px;
}
.single-service-img:before {
  content: "";
  position: absolute;
  top: -42px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 102px solid transparent;
  border-right: 104px solid transparent;
  border-bottom: 42px solid #fff;
}
.single-service-img:after {
  content: "";
  position: absolute;
  bottom: -42px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 102px solid transparent;
  border-right: 102px solid transparent;
  border-top: 42px solid #fff;
  z-index: 10;
}
.service-img {
  width: 200px;
  height: 123px;
  background: #3a9ecb;
  position: relative;
  top: 1px;
  left: 2px;
}
.service-img:before {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 40px solid #3a9ecb;
}
.service-img:after {
  content: "";
  position: absolute;
  bottom: -39px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 40px solid #3a9ecb;
  z-index: 999;
}
.single-service h3 {
  margin-top: 60px;
  color: #fff;
  padding-bottom: 90px;
}
.service-img img.heart {
  left: 20%;
  top: 18%;
}
.service-img img.brain {
  left: 26%;
  top: 11%;
}
.service-img img.knee {
  left: 38%;
}
.service-img img.bone {
  left: 25%;
  top: 14%;
}
.service-img img {
  position: absolute;
}
.team {
  padding-bottom: 60px;
}
.team h2 {
  font-size: 90px;
  color: #42b3e5;
  margin-top: 50px;
  margin-bottom: 0;
}
.team h4 {
  font-size: 24px;
  color: #737373;
  margin-top: 0;
  margin-bottom: 45px;
}
.single-member {
  margin: 0;
  padding: 0;
}
.person img {
  width: 100%;
}
.person-detail {
  padding: 10px;
  background: #3a9cc8;
  position: relative;
  transition: all 0.7s ease 0s;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  -ms-transition: all 0.7s ease 0s;
}
.arrow-top {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #3ba0cc;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  bottom: -10px;
  left: 46%;
  transition: all 0.7s ease 0s;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  -ms-transition: all 0.7s ease 0s;
}
.arrow-bottom {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #3ba0cc;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  top: -9px;
  left: 46%;
  transition: all 0.7s ease 0s;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  -ms-transition: all 0.7s ease 0s;
}
.person-detail h3 {
  font-size: 30px;
  color: #fff;
}
.person-detail p {
  font-size: 13px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
.single-member:hover .person-detail {
  background: #2a2a2a;
}
.single-member:hover .arrow-top {
  background: #2a2a2a;
}
.single-member:hover .arrow-bottom {
  background: #2a2a2a;
}
