<div class="data-box" *ngIf="active === 'doc'">
  <div class="img">
    <img
      src="../../assets/images/member1.jpg"
      alt="Smiley face"
      height="150"
      width="150"
    />
  </div>
  <div class="company-data">
    <mat-list class="padding-fix">
      <mat-list-item>{{ doctor?.firstName }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>{{ doctor?.lastName }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>{{ doctor?.specialization }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>{{ doctor?.description }}</mat-list-item>
    </mat-list>
  </div>
  <div class="stars">
    <i class="material-icons">
      star
    </i>
    <i class="material-icons">
      star
    </i>
    <i class="material-icons">
      star
    </i>
    <i class="material-icons">
      star_half
    </i>
    <i class="material-icons">
      star_border
    </i>
  </div>
  <div class="company">
    <mat-card>
      <ul>
        <li>{{ doctor?.companyName }}</li>
        <li>{{ doctor?.companyAddress }}</li>
      </ul>
    </mat-card>
  </div>

  <agm-map
    *ngIf="doctor?.location"
    [latitude]="doctor.location.lat"
    [longitude]="doctor.location.lng"
    [zoom]="zoom"
    style="width:50%; height: 300px; margin-top: 20px;"
  >
    <agm-marker
      [latitude]="doctor.location.lat"
      [longitude]="doctor.location.lng"
    ></agm-marker>
  </agm-map>
  <div style="width: 100%;">
    <button mat-raised-button color="primary" (click)="active = 'basket'">
      Next
    </button>
  </div>
</div>
<div>
  <app-basket *ngIf="active === 'basket'"></app-basket>
  <div
    style="width: 100%;     margin-top: -50px;
margin-bottom: 10px;
margin-left: 35px;display:block"
    *ngIf="active === 'basket'"
  >
    <button mat-raised-button color="primary" (click)="active = 'schedule'">
      Next
    </button>
  </div>
</div>
<div>
  <app-schedule *ngIf="active === 'schedule'"></app-schedule>
  <div
    style="width: 100%;     margin-top: -50px;
margin-bottom: 10px;
margin-left: 35px;"
    *ngIf="active === 'schedule'"
  >
    <button mat-raised-button color="primary" (click)="reserve(doctor?.id)">
      Reserve
    </button>
  </div>
</div>
