<mat-form-field appearance="legacy">
  <mat-label>Specialization</mat-label>
  <input matInput placeholder="Placeholder" />
</mat-form-field>

<mat-form-field appearance="legacy">
  <mat-label>Name</mat-label>
  <input matInput placeholder="Placeholder" />
</mat-form-field>

<mat-form-field appearance="legacy">
  <mat-label>Company</mat-label>
  <input matInput placeholder="Placeholder" />
</mat-form-field>

<mat-form-field appearance="legacy">
  <mat-label>Review</mat-label>
  <input matInput placeholder="Placeholder" />
</mat-form-field>

<mat-form-field appearance="legacy">
  <mat-label>Keyword</mat-label>
  <input matInput placeholder="Placeholder" />
</mat-form-field>

<mat-form-field appearance="legacy">
  <mat-label>Price</mat-label>
  <input matInput placeholder="Placeholder" />
</mat-form-field>

<mat-form-field appearance="legacy">
  <mat-label>Action</mat-label>
  <input matInput placeholder="Placeholder" />
</mat-form-field>

<!--
<mat-nav-list *ngFor="let link of links">
  <a mat-list-item [routerLink]="link.link">
    {{ link.name }}
  </a>
  <mat-divider></mat-divider>
</mat-nav-list>
-->
