.data-box {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  box-shadow: 3px 3px 5px 6px #ccc;
  justify-content: space-between;
  padding: 15px;
}

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.company-data {
  width: 100%;
}
