app-doc-card,
app-basket,
app-dash-main {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 20px;
  width: 90%;
}

.header-spave {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
