<div class="data-box">
  <mat-tab-group>
    <mat-tab label="Favorite">
      <div class="past">
        <div style="width: 50%;">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Zubar Ivan Ivic</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../assets/images/member3.jpg" alt="" />
            <mat-card-content>
              <p>First name: Ivan</p>
              <p>Last name: Ivic</p>
              <p>Email: poliklinika@poluotok.com</p>
              <p>Age: 45</p>
              <p>Address: Ulica Franka 45</p>
              <p>OIB: 1234567891</p>
            </mat-card-content>
          </mat-card>
        </div>
        <div style="width: 50%; margin-left: 20px;">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Ortopet Ana Aic</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../assets/images/member2.jpg" alt="" />
            <mat-card-content>
              <p>First name: Ana</p>
              <p>Last name: Aic</p>
              <p>Email: ortoped@zadar.com</p>
              <p>Age: 38</p>
              <p>Address: Vukovarska ulica 45</p>
              <p>OIB: 1234567890</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
